.dark {
  --md-sys-color-primary: rgb(132 210 229);
  --md-sys-color-surface-tint: rgb(132 210 229);
  --md-sys-color-on-primary: rgb(0 54 63);
  --md-sys-color-primary-container: rgb(0 78 91);
  --md-sys-color-on-primary-container: rgb(168 237 255);
  --md-sys-color-secondary: rgb(178 203 210);
  --md-sys-color-on-secondary: rgb(28 52 57);
  --md-sys-color-secondary-container: rgb(51 74 80);
  --md-sys-color-on-secondary-container: rgb(206 231 238);
  --md-sys-color-tertiary: rgb(221 197 110);
  --md-sys-color-on-tertiary: rgb(58 48 0);
  --md-sys-color-tertiary-container: rgb(84 70 0);
  --md-sys-color-on-tertiary-container: rgb(251 225 135);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(222 227 229);
  --md-sys-color-surface-variant: rgb(63 72 75);
  --md-sys-color-on-surface-variant: rgb(191 200 203);
  --md-sys-color-outline: rgb(137 146 149);
  --md-sys-color-outline-variant: rgb(63 72 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(43 49 51);
  --md-sys-color-inverse-primary: rgb(0 104 121);
  --md-sys-color-primary-fixed: rgb(168 237 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 38);
  --md-sys-color-primary-fixed-dim: rgb(132 210 229);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 91);
  --md-sys-color-secondary-fixed: rgb(206 231 238);
  --md-sys-color-on-secondary-fixed: rgb(6 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 74 80);
  --md-sys-color-tertiary-fixed: rgb(251 225 135);
  --md-sys-color-on-tertiary-fixed: rgb(34 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 197 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 70 0);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 17);
  --md-sys-color-surface-container-low: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(27 33 34);
  --md-sys-color-surface-container-high: rgb(37 43 45);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
  --md-extended-color-custom-color1-color: rgb(131 210 228);
  --md-extended-color-custom-color1-on-color: rgb(0 54 63);
  --md-extended-color-custom-color1-color-container: rgb(0 78 90);
  --md-extended-color-custom-color1-on-color-container: rgb(165 238 255);
  --md-extended-color-custom-color2-color: rgb(255 180 167);
  --md-extended-color-custom-color2-on-color: rgb(86 30 22);
  --md-extended-color-custom-color2-color-container: rgb(115 52 42);
  --md-extended-color-custom-color2-on-color-container: rgb(255 218 212);
  --md-extended-color-custom-color3-color: rgb(243 189 110);
  --md-extended-color-custom-color3-on-color: rgb(68 43 0);
  --md-extended-color-custom-color3-color-container: rgb(97 64 0);
  --md-extended-color-custom-color3-on-color-container: rgb(255 221 177);
}
