.dark-medium-contrast {
  --md-sys-color-primary: rgb(154 232 252);
  --md-sys-color-surface-tint: rgb(132 210 229);
  --md-sys-color-on-primary: rgb(0 42 50);
  --md-sys-color-primary-container: rgb(75 155 174);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(199 225 232);
  --md-sys-color-on-secondary: rgb(17 41 46);
  --md-sys-color-secondary-container: rgb(125 149 155);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(244 219 129);
  --md-sys-color-on-tertiary: rgb(46 37 0);
  --md-sys-color-tertiary-container: rgb(165 144 62);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 75);
  --md-sys-color-on-surface-variant: rgb(213 222 225);
  --md-sys-color-outline: rgb(170 179 182);
  --md-sys-color-outline-variant: rgb(137 146 149);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(37 43 45);
  --md-sys-color-inverse-primary: rgb(0 79 93);
  --md-sys-color-primary-fixed: rgb(168 237 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 25);
  --md-sys-color-primary-fixed-dim: rgb(132 210 229);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 71);
  --md-sys-color-secondary-fixed: rgb(206 231 238);
  --md-sys-color-on-secondary-fixed: rgb(0 20 25);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 58 63);
  --md-sys-color-tertiary-fixed: rgb(251 225 135);
  --md-sys-color-on-tertiary-fixed: rgb(22 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 197 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 53 0);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(63 69 71);
  --md-sys-color-surface-container-lowest: rgb(4 8 10);
  --md-sys-color-surface-container-low: rgb(25 31 32);
  --md-sys-color-surface-container: rgb(35 41 42);
  --md-sys-color-surface-container-high: rgb(46 52 53);
  --md-sys-color-surface-container-highest: rgb(57 63 64);
  --md-extended-color-custom-color1-color: rgb(153 232 251);
  --md-extended-color-custom-color1-on-color: rgb(0 42 49);
  --md-extended-color-custom-color1-color-container: rgb(74 156 172);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(255 210 202);
  --md-extended-color-custom-color2-on-color: rgb(72 20 12);
  --md-extended-color-custom-color2-color-container: rgb(204 123 110);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(255 214 157);
  --md-extended-color-custom-color3-on-color: rgb(54 34 0);
  --md-extended-color-custom-color3-color-container: rgb(183 136 63);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
}
