.dark-high-contrast {
  --md-sys-color-primary: rgb(212 246 255);
  --md-sys-color-surface-tint: rgb(132 210 229);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(128 206 225);
  --md-sys-color-on-primary-container: rgb(0 13 17);
  --md-sys-color-secondary: rgb(219 244 252);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(174 199 206);
  --md-sys-color-on-secondary-container: rgb(0 13 17);
  --md-sys-color-tertiary: rgb(255 239 191);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(217 194 106);
  --md-sys-color-on-tertiary-container: rgb(15 11 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 75);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 244);
  --md-sys-color-outline-variant: rgb(187 196 199);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 79 93);
  --md-sys-color-primary-fixed: rgb(168 237 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(132 210 229);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 25);
  --md-sys-color-secondary-fixed: rgb(206 231 238);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 25);
  --md-sys-color-tertiary-fixed: rgb(251 225 135);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 197 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(22 17 0);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(75 81 83);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 34);
  --md-sys-color-surface-container: rgb(43 49 51);
  --md-sys-color-surface-container-high: rgb(54 60 62);
  --md-sys-color-surface-container-highest: rgb(66 72 73);
  --md-extended-color-custom-color1-color: rgb(211 246 255);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(127 206 224);
  --md-extended-color-custom-color1-on-color-container: rgb(0 13 17);
  --md-extended-color-custom-color2-color: rgb(255 236 233);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(255 174 161);
  --md-extended-color-custom-color2-on-color-container: rgb(33 0 0);
  --md-extended-color-custom-color3-color: rgb(255 237 217);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(238 186 107);
  --md-extended-color-custom-color3-on-color-container: rgb(19 9 0);
}
