.light {
  --md-sys-color-primary: rgb(0 104 121);
  --md-sys-color-surface-tint: rgb(0 104 121);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(168 237 255);
  --md-sys-color-on-primary-container: rgb(0 78 91);
  --md-sys-color-secondary: rgb(75 98 104);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(206 231 238);
  --md-sys-color-on-secondary-container: rgb(51 74 80);
  --md-sys-color-tertiary: rgb(111 93 14);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(251 225 135);
  --md-sys-color-on-tertiary-container: rgb(84 70 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 252);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 252);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-variant: rgb(219 228 231);
  --md-sys-color-on-surface-variant: rgb(63 72 75);
  --md-sys-color-outline: rgb(111 121 123);
  --md-sys-color-outline-variant: rgb(191 200 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(132 210 229);
  --md-sys-color-primary-fixed: rgb(168 237 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 38);
  --md-sys-color-primary-fixed-dim: rgb(132 210 229);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 91);
  --md-sys-color-secondary-fixed: rgb(206 231 238);
  --md-sys-color-on-secondary-fixed: rgb(6 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 74 80);
  --md-sys-color-tertiary-fixed: rgb(251 225 135);
  --md-sys-color-on-tertiary-fixed: rgb(34 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(221 197 110);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 70 0);
  --md-sys-color-surface-dim: rgb(213 219 221);
  --md-sys-color-surface-bright: rgb(245 250 252);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 246);
  --md-sys-color-surface-container: rgb(233 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 229);
  --md-extended-color-custom-color1-color: rgb(0 104 119);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(165 238 255);
  --md-extended-color-custom-color1-on-color-container: rgb(0 78 90);
  --md-extended-color-custom-color2-color: rgb(144 75 63);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(255 218 212);
  --md-extended-color-custom-color2-on-color-container: rgb(115 52 42);
  --md-extended-color-custom-color3-color: rgb(126 87 15);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(255 221 177);
  --md-extended-color-custom-color3-on-color-container: rgb(97 64 0);
}
